body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.api-table {
  border-collapse: collapse;
}

.api-table thead {
  font-weight: bold;
}

.api-table td {
  border: solid gray thin;
  padding: 6px;
}
